<style type="text/css">
<!--
.style1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 24px;
}
-->
</style>
<div id='<?$_name?>'>
<center>
	<div align="center" class="style1">Bal Vinay Mandir Senior Secondary School,Udaipur</div>
	<h4>
		Name : <span class='hindi'><?student_name?>Not set<?/student_name?></span><br/>
		Father Name : <span class='hindi'><?father_name?>Not Set<?/father_name?></span><br/>
		Class : <span class='hindi'><?class_name?>Not Set<?/class_name?></span>
	</h4>
</center>

<center>
<div>Store No :<?store_no?>store_no<?/store_no?></div>
</center>
	<?$Content?>
</div>