
<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="7">लेख प्रमाण (स) Record (C)</td>
    <td colspan="2"><div align="right">लेख प्रमाण (द) Record (D)</div></td>
  </tr>
  <tr>
    <td colspan="2">Admission of Prmotion</td>
    <td width="13%"><div align="center">Date of Passing from <br />
    Class from school<br />
    इस स्कूल में कक्षा पास करने की दिनांक </div></td>
    <td colspan="2"><div align="center">Attendance उपस्थिति</div></td>
    <td colspan="2"><div align="center">Rank in Class कक्षा में स्थान</div></td>
    <td width="12%" rowspan="2"><div align="center">विषय जो लिए गए हो Subject Taken</div></td>
    <td width="10%" rowspan="2"><div align="center">स्कूल वर्ष में आचरण तथा कार्य<br />
      Conduct and work during School year 20__-20__</div></td>
  </tr>
  <tr>
    <td width="13%"><div align="center">Class कक्षा</div></td>
    <td width="11%"><div align="center">Date दिनांक</div></td>
    <td>&nbsp;</td>
    <td width="9%"><div align="center">स्कूल की मीटिंग की संख्या<br />
      Number of School Meetings</div></td>
    <td width="11%"><div align="center">कक्षा में छात्रों की संख्या<br />
      Number of Meetings at which present</div></td>
    <td width="10%"><div align="center">कक्षा में छात्रों की संख्या<br />
      Number of scholar in class</div></td>
    <td width="11%"><div align="center">कक्षा में अंतिम परीक्षा के अनुसार स्थान<br />
      Place in class according to last examination</div></td>
  </tr>
  <?rows?>
  <?row?>
  <tr>
    <td class='hindi'><?className?>Class Here<?/className?></td>
    <td><?class_admission_date?>--<?/class_admission_date?></td>
    <td><?class_end_date?>--<?/class_end_date?></td>
    <td><?total_meetings?>--<?/total_meetings?></td>
    <td><?all_attendance?>--<?/all_attendance?>&nbsp;</td>
    <td><?students_in_class?>--<?/students_in_class?></td>
    <td>&nbsp;</td>
    <td class="hindi"><?$class_section?></td>
    <?last_column?><td rowspan="<?$no_of_students_rows?>" class="hindi">vPNk</td><?/last_column?>
  </tr>
  <?/row?>
  <?/rows?>
  <?$ExtraRows?>
</table>
<ol>
  <li>प्रमाणित किया जाता हैं की उपरोक्त छात्र में शिक्षा विभाग के नियमानुसार छात्र के स्कूल छोड़ने के दिन तक तमाम खाना पूर्ति कर दी गई हैं ! <br />
  Certified that the above scholar's Register has Been posted up-to-date on leaving School by scholar as required by the education Department ruls.</li>
  <li>प्रमाणित किया जाता हैं की स्कूल की फीस छात्र की तरफ से बाकि नहीं हैं ! Certified that no school fees is Due.<br />
  </li>
</ol>
<div><p align="left">Date: ___/___/201__</p></div><div>
  <div align="right">Intial of Head of the Institution<br />
  हस्ताक्षर संस्था प्रधान</div>
</div>