<div class="hindi " style="width:2in;font-size:15px; ">
<link rel="stylesheet" type="text/css" href="templates/default/css/atk-main.css">
<!-- <link rel="stylesheet" type="text/css" href="templates/default/css/atk-custom.css"> -->
<link rel="stylesheet" type="text/css" href="templates/default/css/epan.css">

<style type="text/css">
	
	body{
		height: auto !important;
		min-height: auto !important;
		})
</style>
<?$Content?>
	<table>
		<p align="center"><?$header?></p>
			
		<tr>
			<td colspan="6"><small>नाम</small> </td>
			<td colspan="6"><?$name?></td>
		</tr>
		<tr>
			<td colspan="6"><small>पिता का नाम</small></td>
			<td colspan="6"><?$father_name?></td>
		</tr>
		<tr>
			<td colspan="6"><small><?$gaurdian_heading?>ः</small> </td>
			<td colspan="6"><?$gaurdian_name?></td>
		</tr>
		<tr>
			<td colspan="6"><small>बिलॅडिग</small></td>
			<td colspan="6" class=" english"><?$building?></td>
		</tr>
		<tr>
			<td colspan="6"><small>कमरा  नः</small></td>
			<td colspan="6"><?$room_no?></td>
		</tr>
		<tr>
			<td colspan="6"><small>दिनांक  समय</small></td>
			<td colspan="6" class=" english"><?$date?></td>
		</tr>
		<tr >
			<td colspan="6"><small>विवरण</small></td>
			<td colspan="6"><?$discription?></td>
		</tr>
	</table>
</div>
<script type="text/javascript">
	window.print();
</script>