<table class='bordered allcenter' width='100%'>
	<tr>
		<td>mifLFkfr dk fooj.k</td>
		<td class="bordered">tqykbZ</td>
		<td>vxLr</td>
		<td>flrEcj</td>
		<td>vDVwcj</td>
		<td>uoEcj</td>
		<td>fnlEcj</td>
		<td>tuojh</td>
		<td>Qjojh</td>
		<td>ekpZ</td>
		<td>vizsy</td>
		<td>ebZ</td>
		<td>;ksx</td>
	</tr>
	<tr>
		<td>mifLFkfr</td>
		<td><?$att_7?></td>
		<td><?$att_8?></td>
		<td><?$att_9?></td>
		<td><?$att_10?></td>
		<td><?$att_11?></td>
		<td><?$att_12?></td>
		<td><?$att_1?></td>
		<td><?$att_2?></td>
		<td><?$att_3?></td>
		<td><?$att_4?></td>
		<td><?$att_5?></td>
		<td><?$total_meeting?></td>
	</tr>
	<tr>
		<td>dqy fefVax</td>
		<td><?$total_7?></td>
		<td><?$total_8?></td>
		<td><?$total_9?></td>
		<td><?$total_10?></td>
		<td><?$total_11?></td>
		<td><?$total_12?></td>
		<td><?$total_1?></td>
		<td><?$total_2?></td>
		<td><?$total_3?></td>
		<td><?$total_4?></td>
		<td><?$total_5?></td>
		<td><?$total_att?></td>
	</tr>
</table>