    <table width="100%" border="1" style="page-break-before: always;">
      <tbody>
        <tr>
          <td width="50%"><br>
          </td>
          <td style="border:1px solid black; padding: 10px">
            <h5 align="center" class="hindi"><b>¼ jktLFkku ljdkj }kjk ekU;rk izkIr ½</b></h5>
            <h1 align="center" style="margin-top:5px; font-size:25px" class="hindi"> <b>cky fou; efUnj mPp ek/;fed fo|ky; mn;iqj <br>ts&11] gfjnkl th dh exjh<!-- BVMSSS --></b> </h1>
            <!-- <pre style="text-align: center; font-size:15px; font-style:bold">ts&11] gfjnkl th dh exjh </pre> -->
            
            <table style="width: 100%;" border="0" align="center">
              <tbody>
                <tr>
                  <td><img alt="" src="templates/default/images/1logo.png"><br>
                  </td>
                  <td ><h4 class='hindi'><b>izxfr & i=<b><br>
                    l= <span class="english"><b><?session?>Session-Here<?/session?></b></span></h4></td>
                  <td><img alt="" src="upload/<?$image_url?>" width="140px" height="140px"> </td>
                </tr>
              </tbody>
            </table>
            <br>
            
            <table width="100%" border="1">
              <tbody>
                <tr>
                  <td class="hindi">ukekad</td>
                  <td><?roll_no?>roll_no
                    <?/roll_no?> </td>
                </tr>
                <tr>
                  <td>fo|kFkhZ dk uke</td>
                  <td><?hname?>Name<?/hname?>
                  </td>
                </tr>
                <tr>
                  <td>d{kk</td>
                  <td><?class?>class<?/class?> </td>
                </tr>
                
                <tr>
                  <td >izos’kkad</td>
                  <td><?scholar_no?> Praveshank
                    <?/scholar_no?> </td>
                </tr>
                <tr>
                  <td>tUe fnukad</td>
                  <td class="english"><?dob1?>DOB<?/dob1?> </td>
                </tr>
                <tr>
                  <td>firk dk uke</td>
                  <td><?father_name?>father_name<?/father_name?> </td>
                </tr>
                <tr>
                  <td>ekrk dk uke</td>
                  <td><?mother_name?>mother_name<?/mother_name?> </td>
                </tr>
                <tr>
                  <td>laj{kd dk uke</td>
                  <td><?guardian_name?>guardian_name<?/guardian_name?>
                  </td>
                </tr>
                <tr>
                  <td>vfHkHkkod@laj{kd dk irk</td>
                  <td><?p_address?> Address <?/p_address?>
                  </td>
                </tr>
                <tr>
                  <td>nwjHkk"k</td>
                  <td><?contact?> Address <?/contact?>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <?$attendance_block?>
          </td>
        </tr>
      </tbody>
    </table>
