<div id="<?$_name?>" class="hindismall">
	<table width="100%">
		<tr>
			<td><?student_panel?>Student Panel<?/student_panel?></td>
			<td width="20%" rowspan=3><?right_panel?>Right Panel<?/right_panel?></td>
		</tr>
		<tr>
			<td width="80%"><?Content?>Default Content<?/Content?></td>
		</tr>
		<tr>
			<td collspan="2">
				<table width="100%" style="margin-top: 5px">
					<tr>
						<td style="border:1px solid black" width='18%'>gLrk{kj d{kk/;kid </td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td>
					</tr>
					<tr>
						<td class='hindi1' style="border:1px solid black">gLrk{kj laLFkkiz/kku</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td>
					</tr>
					<tr>
						<td class='hindi1' style="border:1px solid black">gLrk{kj vfHkHkkod</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td><td style="border:1px solid black">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table width="100%" style="margin-top:60px" class="allcenter">
					<tr>
						<td class="english" style="text-align: left"><span class="hindismall" style="font-weight: bold">fnukad</span> :
						<?$declare_date?></td>
						<td>gLrk{kj d{kk/;kid</td>
						<td>gLrk{kj tkapdÙkkZ</td>
						<td>gLrk{kj ijh{kk izHkkjh</td>
						<td>gLrk{kj laLFkkiz/kku</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	
	<div>
		<?$marksheet_front?>
	</div>
</div>